@using SiteSesc.Models.ModelPartialView;

@{
    var listaCategorias = ViewBag.ListCategorias as List<CategoriaCard>;
}
<link href="~/css/public/credencial.css" rel="stylesheet" />

<style>
    .credencial-banner-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .credencial-banner-content{
        width: 100%;
        max-width: 1600px;
        height: auto;
        margin: auto;
    }

    .credencial-banner-content img{
        max-width: calc(100% - 2rem);
        height: auto;
        margin: 1rem;
        border-radius: 16px;
    }


    /* inicio card sesc */

    .novo-cadastro-container{
        background: rgb(246,190,0);
        background: linear-gradient(180deg, rgba(246,190,0,1) 25%, rgba(227,171,1,1) 95%); 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 700px;
        border-radius: 1rem;
        margin: 2rem 1rem;
        cursor: pointer;
    }

    .novo-cadastro-container .novo-cadastro-text{
        font-size: clamp(20px, 5vw, 32px);
        line-height: clamp(20px, 6vw, 32px);
        font-weight: 500;
        max-width: 450px;
        width:100%;
        margin: 1rem 1rem;
    }

    .flip-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 160px;
        margin: 1rem 1rem;
    }

    .flipper {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: 150px;
        padding: 0;
        transition: transform 1.0s ease;
        transform-style: preserve-3d;
    }

    .novo-cadastro-container:hover .flipper {
        transform: rotateY(180deg);
    }


    .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .back {
        transform: rotateY(180deg);
    }
    
    .front svg, .back svg {
        width: 100%;
        max-width: 160px;
    }

    .flip-container:nth-child(2) .back, .flip-container:nth-child(3) .back{
        transform: rotateX(180deg);
    }

    /* fim card sesc */

    .credencial-info-container{
        width: 100%;
        max-width: 1600px;
        height: auto;
        margin: auto;
        padding: 1rem 2rem;
    }

    .credencial-info-cabecalho1{
        color: #004c99;
        font-size: clamp(18px, 5vw, 24px);
        font-weight: bold;
        cursor: pointer;
        margin: 1.5rem 0;
        text-decoration: underline;
        text-decoration-color: rgba(0,76,153, 0);
        transition: ease 1.0s;
    }


    .credencial-info-cabecalho1:hover{
        text-decoration: underline;
        text-decoration-color: rgba(0,76,153, 1);
        transition: ease 0.25s;
    }

    .credencial-sub-cabecalho{
        color: rgb(246,190,0);
        font-size: clamp(18px, 5vw, 24px);
        font-weight: bold;
        cursor: pointer;
        margin: 1rem 0;
        text-decoration: underline;
        text-decoration-color: rgba(246,190,0,0);
        transition: ease 1.0s;
    }

    .credencial-sub-cabecalho:hover{
        text-decoration: underline;
        text-decoration-color: rgb(246,190,0);
        transition: ease 0.25s;
        text-decoration-color: rgba(246,190,0,1);
    }

    .credencial-info-texto{
        padding: 0 1rem 1rem;
        display: none;
    }

    .credencial-info-texto ul { margin: 1rem 0;}
    .credencial-info-texto ul li { list-style-type: disc; margin-left: 1rem;}

    .credencial-texto-centralizado {
        margin: 1rem;
        text-align: justify;
        text-justify:distribute;
        width: 90%;
        max-width: 1200px;
        color: #747678;
        margin: 2.5rem auto;
        font-size: clamp(20px, calc(20px + 1vw) , 40px);
    }

    .asteriscoRed{
        color: red;
        font-size: 1rem;
        font-style: italic;
    }

    @@media only screen and (max-width: 575px){

        .novo-cadastro-container{
            flex-direction: column;
        }
        
        .flip-container {
            margin: 0;
        }
        
        .flipper {
            margin: 0 1rem;
            min-height: 50px;
            max-height: 130px;
        }

        .novo-cadastro-text{
            margin: 0 !important;
            padding: 0 1rem 1rem;
        }

    }


</style>

<div class="credencial-banner-container">
    
    <div class="credencial-banner-content">
        <img src="~/images/static/bg-credencial.webp" />
    </div>

    <h3 class="credencial-texto-centralizado">Faça sua Credencial e aproveite o melhor que o Sesc pode lhe oferecer. Compartilhe todos os benefícios da Credencial Sesc com sua família: cadastre seus dependentes.</h3>

    <div class="novo-cadastro-container" onclick="window.location.href='/novo-usuario'">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                    </svg>
                </div>
                <div class="back">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 160 160" >
                        <path d="M140,20H91.25H20C8.954,20,0,28.954,0,40v80c0,11.046,8.954,20,20,20h71.25H140c11.046,0,20-8.954,20-20V40
                        C160,28.954,151.046,20,140,20z M150,120c0,5.523-4.477,10-10,10H91.25H20c-5.523,0-10-4.478-10-10V40c0-5.523,4.477-10,10-10h71.25
                        H140c5.523,0,10,4.477,10,10V120z"/>
                        <g>
                            <path d="M47.733,80.252c7.012-8.9,26.348-26.721,52.711-26.721c18.508,0,32.521,10.545,32.521,10.545
                                c-10.422-5.068-51.627-13.311-84.061,16.689L47.733,80.252z"/>
                            <path d="M130.807,83.397c0.713,0,1.409,0.057,2.084,0.162v-5.731c-1.255-0.172-2.596-0.256-4.05-0.256
                                c-10.073,0-17.679,6.031-17.679,14.095c0,0.555,0.036,1.09,0.103,1.614c-1.477-2.485-4.756-3.746-9.42-4.709
                                c-5.941-1.207-6.762-1.734-6.643-3.04c0.112-1.245,2.108-2.394,5.086-2.394c1.905,0,4.454,0.451,6.723,1.51v-5.999
                                c-2.189-0.671-4.577-1.119-7.157-1.119c-7.498,0-12.527,3.594-12.927,8.524c-0.002,0.031-0.002,0.062-0.005,0.094
                                c-1.81-4.859-6.039-8.504-13.322-8.504c-8.765,0-14.752,6.408-14.752,14.176c0,0.198,0.004,0.393,0.01,0.587
                                c-1.647-3.577-5.945-5.226-11.748-6.489c-6.853-1.472-7.829-2.146-7.829-3.709c0-1.5,1.752-2.778,4.48-2.72
                                c2.123,0.043,3.387,0.552,3.972,0.763c1.691-2.103,3.511-4.115,5.439-6.028c-2.871-1.046-6.002-1.584-9.381-1.584
                                c-8.151,0-13.845,4.076-13.845,10.21c0,4.703,2.461,6.843,6.767,8.307c0.23,0.073,0.904,0.282,1.296,0.409
                                c1.482,0.43,3.144,0.813,4.97,1.199c6.724,1.445,7.286,2.657,7.286,3.99c0,1.574-1.871,2.511-5.001,2.511
                                c-3.58,0-6.893-1.054-10.361-3.296c-1.778,2.404-3.612,5.044-4.59,6.665c4.358,2.373,9.447,3.835,14.787,3.835
                                c8.703,0,14.197-3.748,14.486-9.883c1.839,5.589,6.992,9.217,13.949,9.217c1.34,0,3.263-0.045,6.433-0.832v-5.957
                                c-2.945,0.85-4.209,0.939-5.938,0.85c-3.46-0.179-6.285-2.128-7.097-5.547h20.932c0.057-0.699,0.108-1.148,0.108-1.897v-0.102
                                c0-0.735-0.04-1.467-0.119-2.188c1.591,2.194,5.08,3.088,9.864,4.056c5.829,1.186,6.154,2.075,6.154,3.443
                                c0,1.206-1.555,2.593-4.998,2.478c-3.537-0.117-7.678-1.171-10.879-2.978v6.883c3.339,1.493,7.569,2.422,10.855,2.422
                                c7.886,0,13.297-4.621,13.297-9.61c0-0.109-0.005-0.216-0.007-0.326c1.396,3.27,4.138,5.752,7.255,7.266
                                c3.104,1.513,6.426,1.986,9.159,2.006c1.605,0.011,2.997-0.105,4.336-0.319v-5.818c-0.675,0.107-1.371,0.165-2.084,0.165
                                c-5.834,0-10.567-3.673-10.567-8.2C120.239,87.066,124.973,83.397,130.807,83.397 M66.933,89.574
                                c0.701-3.447,3.094-5.691,6.77-5.691c3.734,0,6.067,2.295,6.594,5.691H66.933z"/>
                            <path d="M38.275,91.653c-2.118,2.462-6.295,8.216-7.962,10.981c-1.643-0.96-2.509-1.577-3.278-2.172
                                c2.536-2.773,6.417-6.867,9.596-9.333C36.63,91.13,38.082,91.578,38.275,91.653"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="novo-cadastro-text">
            <div style="text-align:center;">Transforme sua experiência no Sesc: Cadastre-se ou renove seu cadastro agora mesmo!</div>
            <div style="text-align:center;">Clique aqui para começar.</div>
        </div>

    </div>

    <div class="credencial-info-container">

                <div id="c1"    class="credencial-info-cabecalho1">O QUE É A CREDENCIAL SESC?</div>
                <div id="c1sub" class="credencial-info-texto">
                    <p>&Eacute; um direito gratuito garantido ao trabalhador do com&eacute;rcio que se enquadre nas caracter&iacute;sticas abaixo:</p>
                    <ul>
                        <li>Com carteira assinada no Com&eacute;rcio de Bens, Servi&ccedil;os ou Turismo.</li>
                        <li>Estiver exercendo atividades em empresas, entidades enquadradas no plano sindical da Confedera&ccedil;&atilde;o Nacional do Com&eacute;rcio ou vinculadas &agrave; Confedera&ccedil;&atilde;o Nacional dos Trabalhadores no Com&eacute;rcio.</li>
                        <li>Estiver exercendo atividades em empresas ou entidades contribuintes do Sesc.</li>
                    </ul>
                    <p>Este direito &eacute; assegurado &agrave; categoria em todo Territ&oacute;rio Nacional nos programas de Educa&ccedil;&atilde;o, Sa&uacute;de, Assist&ecirc;ncia, Cultura e Lazer.</p>
                    <p>Você pode usar sua Credencial em qualquer unidade do Sesc no Brasil</p>
                    <p>Aproveite tudo o que o Sesc pode oferecer!</p>
                </div>

                <div id="c2"    class="credencial-info-cabecalho1" >TIPOS DE CREDENCIAIS</div>
                <div id="c2sub" class="credencial-info-texto">
                    <p><strong>Credencial Plena</strong> - Destinada aos trabalhadores do com&eacute;rcio de bens, servi&ccedil;os e turismo e seus dependentes, com acesso total aos servi&ccedil;os do Sesc em &acirc;mbito nacional, v&aacute;lida por 2 anos.</p>
                    <p><strong>Credencial Atividades</strong> - Disponibilizada ao p&uacute;blico em geral, com acesso limitado a determinados servi&ccedil;os do Sesc somente no Par&aacute; e condicionada &agrave; disponibilidade de vagas, v&aacute;lida por 1 ano.</p>
                </div>

                <div id="c3"    class="credencial-info-cabecalho1">OS CLIENTES DO SESC</div>
                <div id="c3sub" class="credencial-info-texto">
                    <p><strong>Trabalhador do com&eacute;rcio de bens, servi&ccedil;os e turismo e seus dependentes</strong></p>
                    <p>&Eacute; o <em>empregado</em>, o <em>aposentado</em>, o <em>estagi&aacute;rio</em> e o <em>aprendiz</em> de empresa ou entidade enquadrada no Plano Sindical da CNC; de institui&ccedil;&otilde;es vinculadas ao ex-Instituto de Aposentadoria e Pens&otilde;es dos Comerci&aacute;rios (IAPC); do Sesc e do Senac; da Federa&ccedil;&atilde;o do Com&eacute;rcio do Par&aacute;; de entidades sindicais do com&eacute;rcio filiadas &agrave; Federa&ccedil;&atilde;o do Com&eacute;rcio no Par&aacute;; e seus familiares.</p>
                    <p><strong>P&uacute;blico Geral</strong></p>
                    <p>P&uacute;blico que n&atilde;o se enquadra com as &aacute;reas de trabalho acima, mas que manifesta desejo de usufruir dos servi&ccedil;os e programa&ccedil;&otilde;es ofertadas pelo Sesc: trabalhadores aut&ocirc;nomos, conv&ecirc;nio, servidores p&uacute;blicos.</p>
                </div>

                <div id="c5"    class="credencial-info-cabecalho1">DOCUMENTOS NECESSÁRIOS PARA FAZER SUA CREDENCIAL</div>
                <div id="c5sub" class="credencial-info-texto">
                    <h6>Documentos necessários para todos os perfis</h6>
                    <li>Identidade;</li>
                    <li>Cadastro de Pessoa F&iacute;sica (CPF);</li>
                    <li>Comprovante de resid&ecirc;ncia;</li>
                    <li>Foto recente.</li>
                    <br>

                    <h6>Para trabalhador do comércio em atividade, licenciado, tempor&aacute;rio, estagi&aacute;rio ou aprendiz</h6>
                    <li>Carteira de trabalho atualizada f&iacute;sica ou digital</li>
                    <li>&Uacute;ltimo comprovante de remunera&ccedil;&atilde;o</li>                    
                    <br>

                    <h6>Para trabalhador do comércio com contrato de trabalho suspenso temporariamente</h6>
                    <li>Carteira de trabalho atualizada, f&iacute;sica ou digital</li>
                    <li>&Uacute;ltimo comprovante de remunera&ccedil;&atilde;o</li>
                    <li>Termo de Acordo para Suspens&atilde;o do Contrato de Trabalho para o empregado com contrato de trabalho suspenso temporariamente</li>
                    <br>
                    
                    <h6>Para trabalhador do comércio aposentado</h6>
                    <li>Carteira de trabalho atualizada f&iacute;sica ou digital que comprove a condi&ccedil;&atilde;o de aposentado</li>
                    <li>Carta de concess&atilde;o de aposentadoria ou registro no Cadastro Nacional de Informa&ccedil;&otilde;es Sociais (CNIS) ou cadastro no aplicativo do INSS disponibilizado pelo Governo Federal</li>
                    <li>&Uacute;ltimo comprovante de remunera&ccedil;&atilde;o ou extrato do benef&iacute;cio</li>
                    <br>
                    
                    <h6>Para trabalhador do comércio desempregado</h6>
                    <li>Carteira de trabalho atualizada f&iacute;sica ou digital com data de rescis&atilde;o do contrato</li>
                    <li>Declara&ccedil;&atilde;o de matr&iacute;cula com situa&ccedil;&atilde;o acad&ecirc;mica</li>
                    <li>C&oacute;pia do termo de compromisso</li>
                </div>

                <div id="c4"    class="credencial-info-cabecalho1">PERGUNTAS FREQUENTES</div>
                <div id="c4sub" class="credencial-info-texto">

                    <div id="s1" class="credencial-sub-cabecalho">Qual &eacute; a diferen&ccedil;a entre carteira, carteirinha, cart&atilde;o e credencial?</div>
                    <div id="s1sub" class="credencial-info-texto">
                        <p>N&atilde;o existe diferen&ccedil;a, todos os termos s&atilde;o utilizados para nomear o passaporte de acesso aos servi&ccedil;os do Sesc.</p>
                    </div>

                    <div id="s2" class="credencial-sub-cabecalho">Como fazer a credencial?</div>
                    <div id="s2sub" class="credencial-info-texto">
                        <p>Para solicitar a credencial &eacute; preciso ir a uma unidade do Sesc e apresentar os documentos necess&aacute;rios &agrave; habilita&ccedil;&atilde;o: identidade, CPF, carteira de trabalho com v&iacute;nculo empregat&iacute;cio junto a empresa do setor de bens, servi&ccedil;os e turismo e o &uacute;ltimo contracheque.</p>
                        <p>Ela tamb&eacute;m pode ser solicitada pelo site <a href="https://sesc-pa.com.br/novo-usuario">https://sesc-pa.com.br/novo-usuario</a></p>
                    </div>

                    <div id="s3" class="credencial-sub-cabecalho">Quem tem direito &agrave; credencial?</div>
                    <div id="s3sub" class="credencial-info-texto">
                        <p>A <em>Credencial Plena</em> &eacute; destinada aos trabalhadores do com&eacute;rcio de bens, servi&ccedil;os e turismo e seus dependentes, que são:
                            <ul>
                                <li>Cônjuge ou companheiro de união estável de qualquer gênero;
                                <li>Viúvo de união civil ou união estável de qualquer gênero;</li>
                                <li>Filhos<em class="asteriscoRed">*</em>;</li>
                                <li>Irmãos<em class="asteriscoRed">*</em>;</li>
                                <li>Netos<em class="asteriscoRed">*</em>;</li>
                                <li>Enteados<em class="asteriscoRed">*</em>;</li>
                                <li>Pessoa sob guarda do Titular - definitiva ou provisória<em class="asteriscoRed">*</em>;</li>
                                <li>tutelado ou curatelado<em class="asteriscoRed">*</em>;</li>
                                <li>Órfão do Titular<em class="asteriscoRed">*</em>;</li>
                                <li>Pai e Mãe;</li>
                                <li>Padrasto e Madrasta;</li>
                                <li>Avô e Avó.</li>
                            </ul>
                            <p class="asteriscoRed">* Menores de 21 anos ou estudantes até 24 anos, matriculados no Ensino Superior, profissionalizante, pós-graduação (lato sensu, stricto sensu ou residência médica), preparatório para o Ensino Superior ou Educação de Jovens e Adultos (EJA).</p>
                        <p>Veja exemplos de empresas que possuem direito a&nbsp;<strong>Credencial Plena</strong>:</p>
                        <ul>
                            <li>Com&eacute;rcio atacadista</li>
                            <li>Com&eacute;rcio varejista de bens s servi&ccedil;os (supermercados, sal&otilde;es e institutos de beleza, farm&aacute;cias, casas lot&eacute;ricas, lojas em geral, etc)</li>
                            <li>Turismo (hot&eacute;is, pousadas, ag&ecirc;ncias de turismo)</li>
                            <li>Alimenta&ccedil;&atilde;o (restaurantes, bares, caf&eacute;s)</li>
                            <li>Difus&atilde;o cultural e art&iacute;stica (museus, cinemas, teatros, bibliotecas)</li>
                            <li>Ensino particular (col&eacute;gios, autoescolas, faculdades, creches)</li>
                            <li>Esporte e lazer (academias e clubes recreativos)</li>
                            <li>Estabelecimentos hospitalares particulares (hospitais, laborat&oacute;rios, cl&iacute;nicas m&eacute;dicas e odontol&oacute;gicas)</li>
                            <li>Jornalismo ou publicidade (jornais, emissoras de r&aacute;dio e TV, produtoras)</li>
                            <li>Sindicatos (empregados de entidades sindicais do com&eacute;rcio de bens, servi&ccedil;os e turismo)</li>
                            <li>Servi&ccedil;os de administra&ccedil;&atilde;o e conserva&ccedil;&atilde;o de edif&iacute;cios</li>
                            <li>Escrit&oacute;rios de contabilidade</li>
                            <li>Escrit&oacute;rios de advocacia</li>
                        </ul>
                        <p>A <em>Credencial Atividades</em> &eacute; destinada &agrave;s pessoas que n&atilde;o se enquadram nas categorias de benefici&aacute;rios acima.</p>
                        <p>Essa categoria d&aacute; acesso limitado aos servi&ccedil;os.</p>
                    </div>

                    <div id="s4" class="credencial-sub-cabecalho">Como cadastro meus dependentes?</div>
                    <div id="s4sub" class="credencial-info-texto">
                        <p>Para cadastrar seus dependentes, você deve logar no <a target="_blank" class="link-primary" href="https://sesc-pa.com.br/login"><em><strong>Espaço do Cliente</strong></em></a>, rolar até a seção de dependentes, lá você vai clicar "Adicionar dependente" e preencher as informações solicitadas.</p>
                    </div>

                    <div id="s5" class="credencial-sub-cabecalho">O que &eacute; credencial?</div>
                    <div id="s5sub" class="credencial-info-texto">
                        <p>A credencial Sesc &eacute; o passaporte de acesso aos servi&ccedil;os e atividades disponibilizados pelo Sesc.</p>
                    </div>
                </div>

                <div id="c6"    class="credencial-info-cabecalho1">DÚVIDAS E MAIS INFORMAÇÕES</div>
                <div id="c6sub" class="credencial-info-texto">
                    <p><a target="_blank" class="link-primary" href="~/images/static/Normas_Gerais_Para_Credenciamento.pdf"><em><strong>Baixe Aqui - Normas Gerais para Credenciamento</strong></em></a></p>
                    <p>Central de Relacionamento:</p>
                    <p>(91) 4005-9501 | relacionamentocomcliente@pa.sesc.com.br.</p>
                </div>

                <script>
                    const titulo = document.querySelectorAll('.credencial-info-cabecalho1')
                    for (var i = 0 ; i < titulo.length; i++) {
                        titulo[i].addEventListener('click', function() {
                            $("#"+ this.id + "sub").slideToggle('middle')
                        });
                    }
                    const subtitulo = document.querySelectorAll('.credencial-sub-cabecalho')
                    for (var j = 0 ; j < subtitulo.length; j++) {
                        subtitulo[j].addEventListener('click', function() {
                            $("#"+ this.id + "sub").slideToggle('middle')
                        });
                    }
                </script>


            </div>
        </div>
    </div>

</div>








<section class="category-area pt-120 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="category-left pb-60">
                    <div class="section-area">
                        <h2 class="section-title mb-20">Aproveite nossos serviços</h2>
                    </div>
                    <div class="category-rol">
                        <div class="category-prev">
                            <i class="fa-solid fa-arrow-left"></i>
                        </div>
                        <div class="category-next">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="category-wrap">
                    <div class="category-active swiper pb-60">
                        <div class="swiper-wrapper">
                            @if (listaCategorias != null)
                            {
                                foreach (var categoria in listaCategorias)
                                {
                                    @await Html.PartialAsync("PartialView/_PartialViewCategoriaDetails", categoria)
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>