<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Política de Privacidade LGPD - Sesc no Pará</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Política de Privacidade - Sesc no Pará">
    <meta name="keywords" content="sesc,pará,politica,privacidade,sescnopara,lgpd">
    <style>
        #tudo {
            auto;
            max-width: 1024px;
            margin: auto;
            font-size: 1.4em;
            padding: 2%
        }

        #testeira {
            auto;
            max-width: 65%;
            margin: auto;
            font-size: 1.05em;
            margin-bottom: 2em
        }
    </style>
</head>
<body>
    <div id="tudo">
        <div id="testeira">
            <p align="center">
                <img id="logosesc" src="~/images/static/HomeIndex/logo/logo.png">
            </p>
            <p>
                Serviço Social do Comércio - SESC<br>
                Av. Assis de Vasconcelos, 359<br>
                66017-070 - Belém - PA<br>
                CNPJ: 03.593.364/0330-44&nbsp;<br>
                DPO: dpo@pa.sesc.com.br
            </p>
        </div>
        <p><strong><u>Política de privacidade</u></strong></p>
        <p> O Sesc no Pará trata com muita seriedade a questão da privacidade de seus clientes. Por isso, colocamos à sua disposição nossas Políticas, no sentido de levar ao conhecimento de todos os clientes a forma como cuidamos de seus dados pessoais.</p>
        <p> Política de privacidade é o conjunto de regras estabelecidas para garantir a segurança necessária às informações cadastradas no portal, fundamentais para o melhor oferecimento de nossos serviços. Para o Sesc no Pará, a questão da privacidade de seus clientes é prioritária, e por essa razão colocamos à disposição do público estas informações sobre os procedimentos que visam assegurá-la.</p>
        <p> O Sesc no Pará se compromete a respeitar a privacidade dos usuários do Portal e não fornecer informações a terceiros, em qualquer hipótese, sem autorização expressa, com exceção dos usos necessários para efetivar as compras e inscrições realizadas pelos usuários. *</p>
        <p>Todos os arquivos digitais enviados no momento do cadastramento da credencial ou de sua renovação, serão utilizadas somente para comprovação da condição como cliente e após esse processo tais arquivos serão excluídos permanentemente de nossa base dados.</p>
        <p> *As informações somente serão comunicadas sem a devida autorização do cliente, caso haja ordem judicial ou administrativa, emitida por autoridade competente para tanto.</p>
        <p> <strong>Aviso de Confirmação</strong> - Após realizar seu cadastro, você receberá automaticamente um e-mail do Portal Sesc Pará para ativar a sua conta.</p>
        <p> <strong>Mudança desta Política</strong> - Eventualmente, a política de privacidade poderá ser alterada. Sempre que isso ocorrer, o Sesc no Pará avisará a seus usuários sobre as mudanças ocorridas.</p>
        <p>O Sesc no Pará reitera seu compromisso de buscar sempre o melhor para proteger os interesses e direitos de seu público.</p>
        <p>
            <br>
            <strong><u>Política de segurança</u></strong>
        </p>
        <p>Para realizar compras ou inscrições no Portal do ​Sesc no Pará, é necessário cadastrar-se no Portal. As informações solicitadas são armazenadas em local seguro, e em hipótese alguma, serão disponibilizadas para terceiro, exceto quando essas informações forem necessárias para o processo de entrega ou para cobrança.</p>
        <p> Algumas das informações deverão ser obrigatoriamente fornecidas para aprimorar e garantir a entrega dos nossos serviços, bem como cumprir exigências estabelecidas pelos órgãos públicos que auditam/fiscalizam as operações do ​Sesc no Pará.</p>
        <p> Essas informações são protegidas por senha, e somente você terá acesso a elas. Recomendamos, portanto, não divulgar sua senha a ninguém.</p>
        <p> Em caso de esquecimento da sua senha, basta solicitá-la no próprio Portal, utilizando a opção &quot;Esqueci minha senha&quot;, que ela será enviada para o e-mail informado em seu cadastro.</p>
        <p> As transações realizadas no Portal são totalmente seguras e devidamente garantidas pelas operadoras dos cartões, que realizam a transação diretamente no seu ambiente. O Sesc no Pará não tem acesso e não armazena, informações de seu cartão, pois o Portal está estruturado e conta com os recursos técnicos para garantir a segurança de todos os procedimentos realizados.</p>
        <p>Não são utilizados mecanismos para rastreamento de informações, salvo para manter a identificação do usuário do Portal e para a retomada de sessões interrompidas de compras ou inscrições. No entanto, o cartão é protegido desse processo. Garantimos, portanto, a segurança e a privacidade de todos os clientes.</p>
        <p><strong><u>COLETA DE DADOS</u></strong></p>
        <p> Algumas das informações deverão ser obrigatoriamente fornecidas, quando do seu cadastro para obter a credencial do Sesc no Pará, como por exemplo: nome completo, CPF, RG, foto e endereço residencial.</p>
        <p> Sempre que quiser alterar seu cadastro no Portal do Sesc no Pará, será solicitado seu CPF ou e-mail.</p>
        <p><strong><u>FINALIDADE DO</u></strong><u>&nbsp;&nbsp;<strong>USO DAS INFORMAÇÕES</strong></u></p>
        <p>O&nbsp; Sesc no Pará utiliza as informações recebidas para cumprimento de algumas determinações legais, execução de Políticas Públicas e Normativos como, por exemplo, as Auditorias por Órgão Fiscalizador.</p>
        <p>Os dados coletados serão estritamente utilizados pelo Sesc no Pará para prover meios de autenticação do cliente para prover serviços.</p>
        <p>
            <strong>
                <u>COMPARTILHAMENTO DAS INFORMAÇÕES</u><br>
                <br>
            </strong>Eventualmente o Sesc no Pará poderá compartilhar informações cadastrais dos clientes entre outras unidades Sesc espalhadas pelo Brasil. Esse compartilhamento se dará permitindo a consulta sobre a condição de cliente Sesc, quando este busca algum produto ou serviço em outra Unidade Federativa.
        </p>
        <p><strong><u>COOKIES</u></strong></p>
        <p>O site poderá utilizar cookies e tecnologias semelhantes nas páginas de internet que são referenciadas.&nbsp;Cookies são pequenos pacotes de dados que são enviados para o navegador e ficam armazenados em seu dispositivo, que nos permitem entender melhor o comportamento dos visitantes e nos informam quais as partes de nossos sites que foram visitadas, além de contribuir para a eficácia na distribuição de conteúdo.</p>
        <p> A maior parte dos navegadores são predefinidos para aceitar cookies de forma automática. Nas configurações do seu navegador é possível alterar isso. Saiba, no entanto, que com os cookies desativados, algumas funcionalidades do site podem não funcionar da forma mais adequada.</p>
        <p><strong><u>PERÍODO DE RETENÇÃO DE INFORMAÇÕES PESSOAIS</u></strong></p>
        <p>O Sesc no Pará manterá os dados pessoais de seus clientes por um período máximo de dois anos. Caso o cliente não renove sua credencial no período máximo informado, o Sesc no Pará irá anonimizar suas informações pessoais, tornado-as irrecuperáveis, inclusive em mecanismos de backup.</p>
        <p><strong><u>VALIDADE DO CONSENTIMENTO</u></strong></p>
        <p>A qualquer momento o cliente poderá solicitar a revogação deste consentimento, bem como solicitar quais dados pessoais estão em posse do Sesc no Pará.&nbsp; Ressalta-se que a revogação deste consentimento refletirá na anonimização dos dados pessoais do titular e de seus dependentes.</p>
        <p>As solicitações devem ser enviadas para o e-mail:&nbsp;dpo@pa.sesc.com.br<strong></strong></p>
        <p>&nbsp;</p>
        <div>

</body>
</html>