
<style>
    .termos{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 150%;
    }

    .termos p{
        font-size: 1.2rem;
        line-height: 180%;
    }
    .termos a {
        color: #004c99;
    }
    
    .termos a:hover {
        color: #0080ff;
    }
   
    .termos ol { counter-reset: item; margin-bottom: 3rem; }
    .termos li{ display: block; line-height: 200%; margin: 1rem auto;}
    .termos li:before { content: counters(item, ".") ". "; counter-increment: item; }

    .alignCenter{
        text-align: center;
        margin:3rem;
    }
    
</style>

<section class="termos">
    <h3 class="alignCenter">TERMOS DE USO</h3>

    <p>O Sesc/PA estipula nos Termos de Uso, na Política de Privacidade e nos Direitos e Deveres as condições para utilização do Site (https://sesc-pa.com.br), aplicativo e páginas oficiais nas Redes Sociais da Entidade por intermédio dos quais os Usuários acessam as informações e os serviços disponíveis, além de terem plena ciência de suas obrigações e responsabilidades.</p>

    <ol>
        <li>INTRODUÇÃO
            <ol>
                <li>O site e o aplicativo do Serviço Social do Comércio, Administração Regional no Estado do Pará (Sesc/PA) tem o intuito principal de servir como plataforma para divulgação de atividades, informações, iniciativas, serviços, campanhas e eventos da Entidade, para contratação de serviços disponíveis e, além disso, para permitir o acesso aos canais de comunicação e deter as informações relativas às Unidades de Serviços, aos processos de recrutamento e seleção, aos processos licitatórios e as informações de transparência de gestão.</li>

                <li>As páginas oficiais nas Redes Sociais do Serviço Social do Comércio, Administração Regional no Estado do Pará (Sesc/PA) objetiva ser um canal que possibilite a interação da Entidade, em especial com os trabalhadores do comércio de bens, serviços e turismo, e também com o público em geral, nos termos da dinâmica das ferramentas das Redes Sociais com a utilização de comentários, curtidas e compartilhamento de postagens, desde que estejam de acordo com o presente Termos de Uso e Política de uso de cada Rede Social.</li>

                <li>Ao acessar o site, o aplicativo e as páginas das Redes Sociais do Sesc/PA, o Usuário manifesta concordância e aceitação total e irrestrita de todos os termos e condições previstas no presente Termos de Uso, bem como as eventuais atualizações futuras do documento. Caso não concorde com os termos desta Política, orienta-se que não acesse o site, o Aplicativo e as páginas das Redes Sociais do Sesc/PA.</li>

                <li>O Sesc/PA poderá modificar, adicionar ou remover qualquer conteúdo do Site, do Aplicativo, das páginas das Redes Sociais ou deste documento, a qualquer momento, sem aviso prévio aos Usuários.</li>

                <li>O Sesc/PA poderá fornecer dados às autoridades públicas competentes a respeito do uso do site, do aplicativo e das páginas das Redes Sociais, se solicitado formalmente, fazendo-o tão somente no exercício regular do direito e nos estritos termos da lei.</li>
            </ol>
        </li>
        <li>DO SITE E DO APLICATIVO DO SESC/PA – ASSESSORIA DE COMUNICAÇÃO
            <ol class="letras">
                <li>Para utilização do site e do aplicativo do Sesc/PA, o Usuário é responsável pelas informações de suas preferências pessoais e cidade de sua localização para visualização dos serviços de sua(s) Unidade(s), bem como deverá fornecer informações pessoais para acessar a Área do Cliente.</li>

                <li>É dever do Usuário manter os seus dados pessoais sempre atualizados junto a central de relacionamento com clientes, sendo de sua total responsabilidade a veracidade das informações declaradas.</li>

                <li>O Sesc/PA dá-se o direito de bloquear vendas e/ou excluir Usuário que forneça informações falsas, imprecisas ou incompletas durante o uso do aplicativo.</li>

                <li>O Usuário será responsável pelas operações efetuadas no site ou no aplicativo do Sesc/PA, uma vez que o acesso só será possível mediante a aposição de login e senha, cujo conhecimento é exclusivo do Usuário.</li>

                <li>A Política de Privacidade do Sesc/PA explica a maneira como as informações dos Usuários são coletadas, armazenadas, tratadas, processadas e utilizadas.</li>

                <li>O Sesc/PA poderá, a qualquer momento, interromper o acesso ao site e/ou aplicativo para fins de manutenção, atualização e ajustes de configuração, para garantir a excelência da prestação dos serviços.</li>

                <li>Em caso de suspensão dos serviços do site e do Aplicativo do Sesc/PA por caso fortuito, força maior ou por fato de terceiro, tais como problemas de acesso à internet, intervenção de hackers, vírus e outros softwares maliciosos, falha de software e hardware, queda de energia ou, ainda, em decorrência de qualquer problema sobre o qual o Sesc/PA não tenha controle, não será devida qualquer indenização aos usuários.</li>

                <li>O Usuário está ciente e reconhece que é integralmente responsável por assegurar e manter o ambiente de seu dispositivo seguro, com o uso de ferramentas disponíveis como antivírus e firewall, entre outras, de modo a contribuir na prevenção de riscos eletrônicos e, ainda, utilizar-se de softwares atualizados e eficientes para a plena navegação no site e aplicativo do Sesc/PA.</li>
            </ol>
        </li>
        <li>DAS PÁGINAS OFICIAIS NAS REDES SOCIAIS DO SESC/PA
            <ol>
                <li>O Usuário do Sesc/PA que optar por interagir com a Entidade por intermédio das páginas das Redes Sociais do Sesc/PA assume plena e total responsabilidade civil e criminal em relação à veracidade e à legalidade do conteúdo inserido, comentários, curtidas e compartilhamentos.</li>

                <li>Fica terminantemente proibido, a qualquer usuário, utilizar as páginas das Redes Sociais do Sesc/PA para cometer qualquer prática considerada ilícita pelo ordenamento jurídico brasileiro, independentemente de estar ou não no presente termo, podendo serem consideradas como condutas proibidas as abaixo relacionadas, a título exemplificativo:
                    <ol>
                        <li>Publicar imagem ou conteúdo discriminatório, preconceituoso, desrespeitoso, ofensivo;</li>

                        <li>Publicar imagem ou conteúdo difamatório, contendo qualquer tipo de ameaça, calúnia, injúria, difamação ou, ainda, que atente contra a dignidade, a imagem, a reputação, a honra, e/ou moral de qualquer pessoa ou ente jurídico, em especial o Sesc/PA;</li>

                        <li>Publicar imagem ou conteúdo que contenham material pornográfico ou que atentem contra a ordem pública, os bons costumes e/ou qualquer dispositivo legal;</li>

                        <li>Publicar imagem ou conteúdo com cunho eleitoral, como material de campanha eleitoral de candidato ou de partido político;</li>

                        <li>Publicar imagem ou conteúdo que ofenda direitos de terceiros, tais como, mas não limitado, a direito de propriedade intelectual e/ou direito à privacidade.</li>
                    </ol>
                </li>

                <li>Também fica terminantemente proibido, a qualquer usuário, utilizar as páginas das Redes Sociais do Sesc/PA para enviar ou postar comunicados comerciais não previamente autorizados, como “spam” (lixo eletrônico) e fazer “flood” (postagens iguais e sucessivas) ou transmitir vírus ou outras formas de malware.</li>

                <li>Na hipótese do Sesc/PA suspeitar ou identificar que o Usuário violou a Lei e adotou conduta grave, assim entendidas como aquelas descritas supra, durante o uso das páginas das Redes Sociais do Sesc/PA, a Entidade reserva-se o direito de remover comentários e adotar os procedimentos internos punitivos do Usuário, a seu exclusivo critério, sem prejuízo de comunicação às Redes Sociais e as Autoridades Competentes, para adoção de medidas que entender cabíveis na preservação dos seus direitos e dos direitos de terceiros.</li>

                <li>O Sesc/PA não se responsabiliza por instabilidades e outros problemas eventualmente apresentados pelas redes sociais do Sesc/PA.</li>

                <li>O Sesc/PA se reserva ao direito de modificar ou descontinuar as páginas oficiais nas Redes Sociais, a qualquer momento, de forma temporária ou permanente, independente de comunicação prévia aos Usuários.</li>
            </ol>
        </li>
       <li>PROPRIEDADE INTELECTUAL DO SITE E APLICATIVO
            <ol>
                <li>Todo o conteúdo do site https://sesc-pa.com.br e seu aplicativo correspondente, inclusive as imagens, ilustrações, informações, clipes de áudio e vídeo, marcas, layout, bases de dados, mas não se limitando a estes, está protegido por direitos de propriedade intelectual e direitos autorais todos pertencentes ao Sesc/PA.

                <li>O Usuário que violar as normas protetivas dos direitos de propriedade intelectual e autorais do Sesc/PA responderá administrativa e judicialmente por todo e qualquer dano, real ou potencial, causado pela prática de atos ilícitos.
            </ol>
       <li>DISPOSIÇÕES FINAIS
           <ol>
               <li>O Sesc/PA reserva-se ao direito de alterar os Termos de Uso, sem aviso prévio, para adaptá-lo às eventuais alterações legislativas ou práticas de informação, incumbindo ao Usuário a consulta regular desta política, de forma a estar atualizado. O uso do Site ou Aplicativo após tais alterações representa a concordância do Usuário com a política de privacidade vigente.</li>

               <li>A omissão ou tolerância do Sesc/PA em exigir o estrito cumprimento das condições deste Termos de Uso não constituirá novação ou renúncia, nem impedirá que a Entidade possa exercer esses direitos a qualquer tempo.</li>

               <li>Além das normas deste Termos de Uso, ficam ratificadas todas as demais normas contidas na Política de Privacidade e nos Direitos e Deveres, cuja aplicabilidade dá-se de modo conjunto na relação contratual entre o Sesc/PA e os Usuários.</li>

               <li>Os Direitos e Deveres dos Clientes do Sesc encontram-se normatizados na Resolução Sesc n. 1.361/20217, que estabelece as Normas Gerais para Habilitação no Sesc, a qual define as características dos titulares, dependentes, público em geral, condições de habilitação e critérios de acesso aos serviços oferecidos pela Instituição. Para mais informações acesse as <a href="https://sesc-pa.com.br/images/static/Normas_Gerais_Para_Credenciamento.pdf">Normas Gerais Para Credenciamento</a>.</li>

               <li>Em caso de dúvida a respeito deste Termos de Uso, o Usuário deverá entrar em contato pelo link: <a href="https://transparencia.pa.com.br">https://transparencia.pa.com.br</a>.</li>

               <li>Este Termos de Uso é regido pelas leis brasileiras vigentes. Os conflitos e litígios decorrentes da utilização do site e/ou aplicativo do Sesc/PA, inclusive em relação ao descumprimento das normas deste Termos de Uso, serão processados na Comarca de Belém, no Estado do Pará.</li>
           </ol>
       </li>
    </ol>   
    <p>O Sesc não realiza coleta e tratamento de dados pessoais de visitantes neste portal (www.sesc.com.br). Dados de acesso, como origem, tempo de permanência e conteúdo</p>

    <p>OBS: Quanto aos Direitos de Deveres, por ser transcrição das normas de credenciamento, recomenda-se fazer remissão por meio de link a Resolução Sesc/CN nº. 1361/2017, conforme sugerido acima no item 5.5..</p>
</section>