
/*.bg-img {
    background-image: url( @Model.Arquivo.CaminhoVirtualFormatado ) !important;
    background-size: 100%;
    opacity: 0.7
}*/


/* Important part */
.close {
    color: black !important
}

#modalTermo .modal-dialog {
    overflow-y: initial !important
}

    #modalTermo .modal-dialog .modal-content {
        background-color: white !important
    }

        #modalTermo .modal-dialog .modal-content .modal-body {
            height: 80vh;
            overflow-y: auto;
        }

.bg-light-custom {
    background-color: #e3e3e3 !important
}

#modalTermo .modal-dialog .modal-content > * {
    color: black
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }

#modalConfirmacao label {
    margin-bottom: 1px;
    margin-top: 7px
}

/*.bg-light {
    background-color: #e3e3e3 !important
}*/

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}

.visa {
    background-image: url(https://www.sescto.com.br/Content/img/Brand/visto.png)
}

.mastercard {
    background-image: url(https://www.sescto.com.br/Content/img/Brand/mastercard.png);
}

.amex {
    background-image: url(https://www.sescto.com.br/Content/img/Brand/amex.png);
}

.elo {
    background-image: url(https://www.sescto.com.br/Content/img/Brand/elo.png);
}

.cc-selector-2 input:active + .drinkcard-cc, .cc-selector input:active + .drinkcard-cc {
    opacity: .9;
}

.cc-selector-2 input:checked + .drinkcard-cc, .cc-selector input:checked + .drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 50px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

    .drinkcard-cc:hover {
        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);
    }

.cc-selector-2 input {
    margin: 5px 0 0 12px;
}

.cc-selector-2 label {
    margin-left: 7px;
}

span.cc {
    color: #6d84b4
}

.field-error {
    border-color: red !important;
    color: black !important
}

.field-text-error {
    color: red !important
}


@media(min-width: 992px) {

    #div-compra {
        /*padding: 40px;*/
        /*border: 1px solid #e3e3e3;*/
        /*padding-bottom: 50px;*/
        min-height: 468px;
    }

}