@{
    ViewBag.Title = "Dashboard";
}

<section class="d-flex flex-column justify-content-center">
    <div class="container">
        <h2>Olá seja bem vindo!</h2>
        <p>Você ainda não tem nenhuma tela inicial definida.</p>
        <p>
            Para definir uma, clique no botão  <a  class="btn btn-sm btn-outline-primary button-rounded btn-auto"><i class="fa-solid fa-home"></i> &nbsp;Definir como tela inicial</a>
            na primeira tela de cada módulo.
        </p>
    </div>
</section>

