<style>
   .modal-content-transparent{
       background-color: transparent;
       border: none
    }
    .no-border{
        border: none
    }
</style>

<div id="modal-image" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content-transparent">
            <div class="modal-header no-border">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" style="color: white"></button>
            </div>
            <div class="modal-body text-center">
                <img id="img-preview" alt="Descrição da imagem" style="max-width:500px; max-height: 100%">
            </div>
        </div>
    </div>
</div>
