<style>
    .modal-content-transparent {
        background-color: transparent;
        border: none
    }

    .no-border {
        border: none
    }
    .btn-close{
        padding: 1em 1em !important;
    }
</style>

<div id="modal-credencial" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content-transparent">
            <div class="modal-body text-center p-0">
                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" style="color: white; z-index: 9999; position: absolute"></a>
                <img id="img-credencial" alt="Descrição da imagem" style="max-width:100vw; max-height: 90vh">
            </div>
        </div>
    </div>
</div>
