@using System.Security.Claims;
@using SiteSesc.Models.Enums;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Microsoft.AspNetCore.Mvc.ViewComponents.IViewComponentSelector selector
@{
    var usuarioLogado = User.Identity.Name;
    int perfil = int.Parse(((ClaimsIdentity)User.Identity).FindFirst("Perfil").Value);
    var tema = "";
    var areaName = ViewContext.RouteData.Values["area"].ToString();

    // if (((ClaimsIdentity)User.Identity).HasClaim(c => c.Type == "Perfil"))
    // {
    //     perfil = ;
    // }

    if (((ClaimsIdentity)User.Identity).HasClaim(c => c.Type == "TemaEscuro"))
    {
        tema = ((ClaimsIdentity)User.Identity).FindFirst("TemaEscuro").Value;
    }

    var classesAdministrativas = "";
    if (areaName == "Admin") { classesAdministrativas = "p-3 shadow-sm rounded border"; }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sesc @Configuration["Ambiente:UF"]</title>
    <!-- Favicons -->
    <link href="~/images/static/logo-mini.png" rel="icon">
    <link href="~/images/static/logo-mini.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteSesc.styles.css" asp-append-version="true" />
    <link href="~/css/espacocliente/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/espacocliente/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/css/espacocliente/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/css/espacocliente/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/espacocliente/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/espacocliente/switch.css" rel="stylesheet" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QT8WVG3MG0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QT8WVG3MG0');
    </script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<style>
    #hero {
        width: 100%;
        height: 100vh;
        background: url("../images/hero-bg.jpg") top right no-repeat;
        background-size: cover;
        position: relative;
    }
    .modal{
        z-index: 9999;
    }
    .clienteTesteira{
        width: calc(100% - 5rem ); 
        text-align: left; 
        padding: 1rem 1rem 0 !important; 
        z-index: 9999; 
        position: absolute;
    }

    .clienteTesteira .container img{
        margin: 20px 2rem 0px 0;
    }

    #btn-switch{
        position: relative;
        top:15px;
        margin-left: 0rem !important;
        font-size: initial !important;
        padding: auto !important;
    }
    
    .bi-list{
        scale: 1.8;
        right: 1rem !important;
        top:  2.2rem !important;
    }

    .bi-x{
        right: 1rem !important;
        top:  2.2rem !important;
    }

    </style>
<body>
    
    <div class="clienteTesteira">
        <div class="container">
            <img src="~/images/static/logo-sesc.webp" width="100" />
            @if (perfil != (int)PerfilUsuarioEnum.Cliente)
            {
                @if (perfil != (int)PerfilUsuarioEnum.Cliente)
                {
                    <a href="@ViewBag.TelaInicial" id="btn-switch" class="btn btn-sm btn-outline-primary button-rounded btn-auto"  >
                        <i class="fa-solid fa-user-tie"></i> &nbsp;
                        Admin
                    </a>
                }
            }
        </div>


    </div>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/js/Home/Index.js" type="text/javascript"></script>

    <script src="~/css/espacocliente/purecounter/purecounter_vanilla.js"></script>
    <script src="~/css/espacocliente/aos/aos.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/espacocliente/glightbox/js/glightbox.min.js"></script>
    <script src="~/css/espacocliente/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/css/espacocliente/swiper/swiper-bundle.min.js"></script>
    <script src="~/css/espacocliente/typed.js/typed.umd.js"></script>
    <script src="~/css/espacocliente/waypoints/noframework.waypoints.js"></script>
    <script src="~/js/fontawesome6.js"></script>
    <script src="~/js/espacocliente/main.js"></script>
    <script src="~/js/3th/owl.carousel.min.js"></script>
    @* <script src="~/js/pagamento/cardpix.js"></script> *@
    <script src="~/js/3th/sweetalert.min.js"></script>
    <script>
         document.getElementById('btn-switch').addEventListener('click', function (e) {
            window.location.href = "/admin/dashboard";
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
