USE [master]
GO
/****** Object:  Database [SiteSescra]    Script Date: 11/03/2024 22:07:12 ******/
CREATE DATABASE [SiteSescra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiteSescra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SiteSescra.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiteSescra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SiteSescra_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiteSescra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiteSescra]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adm_acaoSistema]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_acaoSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AcaoSistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adm_acoesUsuarioModulo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_acoesUsuarioModulo](
	[Id] [int] NOT NULL,
	[IdModuloSistema] [int] NOT NULL,
	[AcaoSistema] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_AcoesUsuarioModulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adm_acoesUsuarioModuloSistema]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_acoesUsuarioModuloSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarioModuloSistema] [int] NOT NULL,
	[IdAcaoSistema] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AcoesUsuarioModuloSistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adm_moduloSistema]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_moduloSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ModuloSistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adm_usuarioModuloSistema]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm_usuarioModuloSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdModuloSistema] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsuarioModuloSistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agd_agendaAtividade]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agd_agendaAtividade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoAgendamento] [int] NOT NULL,
	[Cdelement] [nvarchar](24) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[TempoAtendimento] [time](0) NOT NULL,
	[IntervaloAtendimento] [time](0) NOT NULL,
	[Ano] [int] NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[IsAtivo] [bit] NULL,
 CONSTRAINT [PK_AgendaAtividade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agd_agendaCliente]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agd_agendaCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[IdAgendaAtividade] [int] NOT NULL,
	[Dia] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Horario] [time](0) NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[StatusAgenda] [int] NULL,
	[NomeCliente] [nvarchar](max) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Responsavel] [nvarchar](max) NULL,
	[Telefone] [nvarchar](20) NULL,
 CONSTRAINT [PK_agd_agendaCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agd_agendamento]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agd_agendamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[NomeCliente] [nvarchar](max) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[DataAgendamento] [date] NOT NULL,
	[HorarioAgendamento] [time](0) NOT NULL,
	[Cdelement] [nvarchar](24) NOT NULL,
 CONSTRAINT [PK_Agendamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agd_horariosAgenda]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agd_horariosAgenda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mes] [int] NOT NULL,
	[idAgendamento] [int] NOT NULL,
	[Hora] [time](0) NOT NULL,
	[Dia] [int] NOT NULL,
 CONSTRAINT [PK_agd_horariosAgenda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agd_tipoAgendamento]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agd_tipoAgendamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[IsAtivo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoAgendamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[IsAtivo] [bit] NOT NULL,
	[IdArquivo] [int] NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arquivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arquivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeArquivo] [nvarchar](max) NOT NULL,
	[CaminhoVirtual] [nvarchar](max) NOT NULL,
	[CaminhoAbsoluto] [nvarchar](max) NOT NULL,
	[Extensao] [nvarchar](5) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_Arquivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArquivoCadastroCliente]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArquivoCadastroCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArquivo] [int] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[IdSolicitacaoCadastroCliente] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ArquivoCadastroCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [uniqueidentifier] NOT NULL,
	[IdArquivo] [int] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IsAtivo] [bit] NOT NULL,
	[Url] [nvarchar](max) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BotaoDropdown]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotaoDropdown](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[UrlRedirect] [nvarchar](50) NOT NULL,
	[Classe] [nvarchar](max) NOT NULL,
	[IdBotaoSideMenu] [int] NOT NULL,
 CONSTRAINT [PK_BotaoDropdown] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BotaoPerfil]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotaoPerfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBotaoSideMenu] [int] NOT NULL,
	[IdPerfilUsuario] [int] NOT NULL,
 CONSTRAINT [PK_BotaoPerfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BotaoSideMenu]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotaoSideMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[UrlRedirect] [nvarchar](50) NOT NULL,
	[Classe] [nvarchar](max) NOT NULL,
	[IsDropdown] [bit] NOT NULL,
	[IsAdmin] [bit] NULL,
	[Sequencia] [int] NULL,
 CONSTRAINT [PK_BotaoSideMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[IsAtivo] [bit] NOT NULL,
 CONSTRAINT [PK_Cidade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] NOT NULL,
	[RazaoSocial] [nvarchar](max) NOT NULL,
	[Cnpj] [nvarchar](14) NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escolaridade]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escolaridade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Escolaridade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCivil]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCivil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoCivil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NOT NULL,
	[Unidade] [nvarchar](50) NULL,
	[IdCidade] [int] NULL,
	[DataCadastro] [datetime] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdArea] [int] NULL,
	[IsAtivo] [bit] NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HstSolicitacao]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HstSolicitacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Observacao] [nvarchar](max) NULL,
	[IsCliente] [bit] NOT NULL,
	[IdSolicitacaoCadastroCliente] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_HstSolicitacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MensagemRapida]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MensagemRapida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_MensagemRapida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noticia]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticia](
	[Guid] [uniqueidentifier] NOT NULL,
	[TituloLongo] [nvarchar](max) NOT NULL,
	[TituloCurto] [nvarchar](max) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdArquivo] [int] NOT NULL,
	[IdCidade] [int] NULL,
	[Unidade] [nvarchar](max) NULL,
	[DataCadastro] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NOT NULL,
	[IsAtivo] [bit] NOT NULL,
	[Views] [int] NULL,
	[IdArea] [int] NOT NULL,
	[CorpoNoticia] [nvarchar](max) NOT NULL,
	[CreditoImagem] [nvarchar](max) NULL,
 CONSTRAINT [PK_Noticia] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parentesco]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parentesco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Parentesco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilUsuario]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PerfilUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programacao]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programacao](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[DataInicialEvento] [datetime] NOT NULL,
	[DataFinalEvento] [datetime] NOT NULL,
	[Local] [nvarchar](max) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdArea] [int] NULL,
	[Unidade] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Programacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_areasProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_areasProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArea] [int] NOT NULL,
	[IdProcessoSeletivo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AreasProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_arquivosProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_arquivosProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArquivo] [int] NOT NULL,
	[IdProcessoSeletivo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ArquivosProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_cargoProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_cargoProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[VagasCurriculo] [int] NOT NULL,
	[IdProcessoSeletivo] [int] NOT NULL,
	[IdCidade] [int] NOT NULL,
	[HasDocFormacao] [bit] NULL,
	[HasDocExperiencia] [bit] NULL,
 CONSTRAINT [PK_dbo.CargoProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_cidadesProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_cidadesProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCidade] [int] NOT NULL,
	[IdProcessoSeletivo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CidadesProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_curriculosProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_curriculosProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArquivo] [int] NOT NULL,
	[ProcessoSeletivo_Id] [int] NULL,
	[NomeCandidato] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Cpf] [nvarchar](max) NULL,
	[IdCargoProcessoSeletivo] [int] NULL,
 CONSTRAINT [PK_dbo.CurriculosProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_documentoProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_documentoProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCargoProcessoSeletivo] [int] NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[IdTipoDocumentoProcessoSeletivo] [int] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[IdArquivo] [int] NOT NULL,
 CONSTRAINT [PK_DocumentoProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_observadoresProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_observadoresProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCargoProcessoSeletivo] [int] NOT NULL,
 CONSTRAINT [PK_ObservadoresProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_processoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_processoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroProcessoSeletivo] [nvarchar](max) NOT NULL,
	[Curso] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[DataPublicacao] [datetime] NOT NULL,
	[IdTipoProcessoSeletivo] [int] NOT NULL,
	[IdStatusProcessoSeletivo] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdArea] [int] NULL,
	[Cargo] [nvarchar](max) NOT NULL,
	[Cidade] [nvarchar](max) NULL,
	[DataAberturaCurriculo] [datetime] NULL,
	[DataFimCurriculo] [datetime] NULL,
 CONSTRAINT [PK_dbo.ProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_statusProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_statusProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.StatusProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_tipoDocumentoProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_tipoDocumentoProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TipoDocumentoProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[psl_tipoProcessoSeletivo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[psl_tipoProcessoSeletivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TipoProcessoSeletivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sexo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SituacaoProfissional]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SituacaoProfissional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SituacaoProfissional] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitacaoCadastroCliente]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitacaoCadastroCliente](
	[Guid] [uniqueidentifier] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[NomePai] [nvarchar](max) NULL,
	[NomeMae] [nvarchar](max) NOT NULL,
	[NumeroDocumento] [nvarchar](max) NOT NULL,
	[OrgaoEmissor] [nvarchar](32) NOT NULL,
	[UF] [nvarchar](2) NOT NULL,
	[DataEmissaoDocumento] [datetime] NOT NULL,
	[RendaIndividual] [decimal](18, 2) NULL,
	[RendaFamiliar] [decimal](18, 2) NULL,
	[DataSolicitacao] [datetime] NOT NULL,
	[NomeSocial] [nvarchar](max) NULL,
	[Naturalidade] [nvarchar](max) NOT NULL,
	[Nacionalidade] [nvarchar](max) NOT NULL,
	[IsEstudante] [bit] NOT NULL,
	[IsDependente] [bit] NOT NULL,
	[IdSexo] [int] NOT NULL,
	[TipoCategoria] [nvarchar](32) NOT NULL,
	[IdParentesco] [int] NULL,
	[IsDeficiente] [bit] NOT NULL,
	[UltimaSerie] [nvarchar](max) NULL,
	[IdTipoDocumentoIdentificacao] [int] NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Logradouro] [nvarchar](max) NOT NULL,
	[Bairro] [nvarchar](max) NOT NULL,
	[Cep] [nvarchar](10) NULL,
	[NumeroEndereco] [nvarchar](12) NOT NULL,
	[IdStatus] [int] NULL,
	[TelefonePrimario] [nvarchar](20) NOT NULL,
	[TelefoneSecundario] [nvarchar](20) NULL,
	[IdEstadoCivil] [int] NOT NULL,
	[CnpjEmpresa] [nvarchar](15) NULL,
	[Complemento] [nvarchar](max) NULL,
	[RazaoSocial] [nvarchar](max) NULL,
	[IdSituacaoProfissional] [int] NULL,
	[Cargo] [nvarchar](50) NULL,
	[DataAdmissao] [datetime] NULL,
	[DataDemissao] [datetime] NULL,
	[NumeroCarteiraProssional] [nvarchar](50) NULL,
	[SerieCtps] [nvarchar](50) NULL,
	[PisPasep] [nvarchar](50) NULL,
	[IdEscolaridade] [int] NOT NULL,
	[Cidade] [nvarchar](100) NOT NULL,
	[IsRenovacao] [bit] NOT NULL,
	[TipoSolicitacao] [int] NULL,
 CONSTRAINT [PK_SolicitacaoCadastroCliente] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[IsAtivo] [bit] NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumentoIdentificacao]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumentoIdentificacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumentoIdentificacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/03/2024 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Senha] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IsAtivo] [bit] NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[IdPerfilUsuario] [int] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adm_acaoSistema] ON 

INSERT [dbo].[adm_acaoSistema] ([Id], [Nome]) VALUES (1, N'Visualizar')
INSERT [dbo].[adm_acaoSistema] ([Id], [Nome]) VALUES (2, N'Cadastrar')
INSERT [dbo].[adm_acaoSistema] ([Id], [Nome]) VALUES (3, N'Alterar')
SET IDENTITY_INSERT [dbo].[adm_acaoSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[adm_moduloSistema] ON 

INSERT [dbo].[adm_moduloSistema] ([Id], [Nome]) VALUES (1, N'Gerênciamento Site')
INSERT [dbo].[adm_moduloSistema] ([Id], [Nome]) VALUES (2, N'Acompanhamento Cadastro')
INSERT [dbo].[adm_moduloSistema] ([Id], [Nome]) VALUES (3, N'Clientes')
SET IDENTITY_INSERT [dbo].[adm_moduloSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[agd_agendaAtividade] ON 

INSERT [dbo].[agd_agendaAtividade] ([Id], [IdTipoAgendamento], [Cdelement], [DataCadastro], [TempoAtendimento], [IntervaloAtendimento], [Ano], [Descricao], [IsAtivo]) VALUES (1, 1, N'0000123', CAST(N'2024-02-19T00:00:00.000' AS DateTime), CAST(N'00:20:00' AS Time), CAST(N'00:10:00' AS Time), 2024, N'Avaliação Física Doca', 1)
SET IDENTITY_INSERT [dbo].[agd_agendaAtividade] OFF
GO
SET IDENTITY_INSERT [dbo].[agd_agendaCliente] ON 

INSERT [dbo].[agd_agendaCliente] ([Id], [Guid], [IdAgendaAtividade], [Dia], [Mes], [DataCadastro], [Horario], [Cpf], [StatusAgenda], [NomeCliente], [DataNascimento], [Responsavel], [Telefone]) VALUES (1, N'7825994e-dcd7-40a8-8904-cf47966287d5', 1, 3, 1, CAST(N'2024-03-01T21:11:26.037' AS DateTime), CAST(N'08:30:00' AS Time), N'04634422107', 0, N'Matheus', CAST(N'1987-11-06T00:00:00.000' AS DateTime), NULL, N'(63) 9929-7729')
INSERT [dbo].[agd_agendaCliente] ([Id], [Guid], [IdAgendaAtividade], [Dia], [Mes], [DataCadastro], [Horario], [Cpf], [StatusAgenda], [NomeCliente], [DataNascimento], [Responsavel], [Telefone]) VALUES (2, N'0058f5d3-6c91-4527-b970-e93e2dc2250a', 1, 9, 2, CAST(N'2024-03-01T21:11:56.323' AS DateTime), CAST(N'09:30:00' AS Time), N'01234567891', 0, N'Matheus', CAST(N'1987-11-06T00:00:00.000' AS DateTime), NULL, N'(63) 9929-7729')
INSERT [dbo].[agd_agendaCliente] ([Id], [Guid], [IdAgendaAtividade], [Dia], [Mes], [DataCadastro], [Horario], [Cpf], [StatusAgenda], [NomeCliente], [DataNascimento], [Responsavel], [Telefone]) VALUES (3, N'2c785110-ca65-48b4-a596-c2753057608f', 1, 5, 1, CAST(N'2024-03-02T18:03:45.333' AS DateTime), CAST(N'12:00:00' AS Time), N'88888888888', 0, N'Matheus', CAST(N'1987-11-06T00:00:00.000' AS DateTime), NULL, N'(63) 9929-7729')
SET IDENTITY_INSERT [dbo].[agd_agendaCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[agd_horariosAgenda] ON 

INSERT [dbo].[agd_horariosAgenda] ([Id], [Mes], [idAgendamento], [Hora], [Dia]) VALUES (626, 2, 1, CAST(N'07:00:00' AS Time), 7)
INSERT [dbo].[agd_horariosAgenda] ([Id], [Mes], [idAgendamento], [Hora], [Dia]) VALUES (627, 2, 1, CAST(N'08:00:00' AS Time), 7)
INSERT [dbo].[agd_horariosAgenda] ([Id], [Mes], [idAgendamento], [Hora], [Dia]) VALUES (628, 2, 1, CAST(N'08:30:00' AS Time), 7)
GO
SET IDENTITY_INSERT [dbo].[agd_horariosAgenda] OFF
GO
SET IDENTITY_INSERT [dbo].[agd_tipoAgendamento] ON 

INSERT [dbo].[agd_tipoAgendamento] ([Id], [Descricao], [IsAtivo]) VALUES (1, N'Avaliação Física', 1)
INSERT [dbo].[agd_tipoAgendamento] ([Id], [Descricao], [IsAtivo]) VALUES (2, N'Nutrição', 1)
SET IDENTITY_INSERT [dbo].[agd_tipoAgendamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Id], [Nome], [IsAtivo], [IdArquivo]) VALUES (1, N'Educação', 1, NULL)
INSERT [dbo].[Area] ([Id], [Nome], [IsAtivo], [IdArquivo]) VALUES (2, N'Esporte', 1, NULL)
INSERT [dbo].[Area] ([Id], [Nome], [IsAtivo], [IdArquivo]) VALUES (3, N'Saúde', 1, NULL)
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Arquivo] ON 

INSERT [dbo].[Arquivo] ([Id], [NomeArquivo], [CaminhoVirtual], [CaminhoAbsoluto], [Extensao], [DataCadastro]) VALUES (1, N'noticia1.jpg', N'noticias\noticia1.jpg', N'noticias\noticia1.jpg', N'.jpg', CAST(N'2024-01-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Arquivo] ([Id], [NomeArquivo], [CaminhoVirtual], [CaminhoAbsoluto], [Extensao], [DataCadastro]) VALUES (3, N'noticia2.jpg', N'noticias\noticia2.jpg', N'noticias\noticia2.jpg', N'.jpg', CAST(N'2024-01-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Arquivo] ([Id], [NomeArquivo], [CaminhoVirtual], [CaminhoAbsoluto], [Extensao], [DataCadastro]) VALUES (2009, N'banner_638414404812861439.jpg', N'banner/banner_638414404812861439.jpg', N'banner\banner_638414404812861439.jpg', N'.jpg', CAST(N'2024-01-21T13:28:01.297' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Arquivo] OFF
GO
SET IDENTITY_INSERT [dbo].[ArquivoCadastroCliente] ON 

INSERT [dbo].[ArquivoCadastroCliente] ([Id], [IdArquivo], [Tipo], [IdSolicitacaoCadastroCliente]) VALUES (65, 3088, N'ComprovanteEndereco', N'a70571b8-162f-444e-a94c-8a445a7ff840')
INSERT [dbo].[ArquivoCadastroCliente] ([Id], [IdArquivo], [Tipo], [IdSolicitacaoCadastroCliente]) VALUES (66, 3089, N'FotoPerfil', N'a70571b8-162f-444e-a94c-8a445a7ff840')
INSERT [dbo].[ArquivoCadastroCliente] ([Id], [IdArquivo], [Tipo], [IdSolicitacaoCadastroCliente]) VALUES (67, 3090, N'DocumentoCpf', N'a70571b8-162f-444e-a94c-8a445a7ff840')
SET IDENTITY_INSERT [dbo].[ArquivoCadastroCliente] OFF
GO
INSERT [dbo].[Banner] ([Id], [IdArquivo], [DataCadastro], [IdUsuario], [IsAtivo], [Url]) VALUES (N'aae73efb-883d-47db-9610-208fc2172b91', 2021, CAST(N'2024-01-21T15:22:27.100' AS DateTime), 14, 1, N'https://www.uol.com')
INSERT [dbo].[Banner] ([Id], [IdArquivo], [DataCadastro], [IdUsuario], [IsAtivo], [Url]) VALUES (N'c69dd988-bc13-49b7-b718-42e4f0587a06', 2015, CAST(N'2024-01-21T14:07:29.230' AS DateTime), 14, 1, NULL)
INSERT [dbo].[Banner] ([Id], [IdArquivo], [DataCadastro], [IdUsuario], [IsAtivo], [Url]) VALUES (N'9ebeeaf7-cb94-4f4c-b187-574227832710', 2013, CAST(N'2024-01-21T13:36:00.540' AS DateTime), 14, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[BotaoDropdown] ON 

INSERT [dbo].[BotaoDropdown] ([Id], [Nome], [UrlRedirect], [Classe], [IdBotaoSideMenu]) VALUES (1, N'Áreas', N'/admin/area', N'dropdown-item', 15)
INSERT [dbo].[BotaoDropdown] ([Id], [Nome], [UrlRedirect], [Classe], [IdBotaoSideMenu]) VALUES (3, N'Cidades', N'/admin/cidades', N'dropdown-item', 15)
INSERT [dbo].[BotaoDropdown] ([Id], [Nome], [UrlRedirect], [Classe], [IdBotaoSideMenu]) VALUES (4, N'Solicitações', N'/admin/clientes/soliticacoes-cadastro', N'dropdown-item', 16)
SET IDENTITY_INSERT [dbo].[BotaoDropdown] OFF
GO
SET IDENTITY_INSERT [dbo].[BotaoSideMenu] ON 

INSERT [dbo].[BotaoSideMenu] ([Id], [Nome], [UrlRedirect], [Classe], [IsDropdown], [IsAdmin], [Sequencia]) VALUES (1, N'Início', N'#hero', N'bx bx-home', 0, 0, 1)
INSERT [dbo].[BotaoSideMenu] ([Id], [Nome], [UrlRedirect], [Classe], [IsDropdown], [IsAdmin], [Sequencia]) VALUES (2, N'Meu dados', N'#about', N'bx bx-user', 0, 0, 2)
INSERT [dbo].[BotaoSideMenu] ([Id], [Nome], [UrlRedirect], [Classe], [IsDropdown], [IsAdmin], [Sequencia]) VALUES (5, N'Matrícula', N'#resume', N'bx bx-file-blank', 0, 0, 3)
SET IDENTITY_INSERT [dbo].[BotaoSideMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Cidade] ON 

INSERT [dbo].[Cidade] ([Id], [Nome], [IsAtivo]) VALUES (3, N'Belém', 1)
INSERT [dbo].[Cidade] ([Id], [Nome], [IsAtivo]) VALUES (4, N'Marabá', 1)
INSERT [dbo].[Cidade] ([Id], [Nome], [IsAtivo]) VALUES (5, N'Santarém', 1)
SET IDENTITY_INSERT [dbo].[Cidade] OFF
GO
SET IDENTITY_INSERT [dbo].[Escolaridade] ON 

INSERT [dbo].[Escolaridade] ([Id], [Nome]) VALUES (1, N'Analfabeto')
INSERT [dbo].[Escolaridade] ([Id], [Nome]) VALUES (2, N'Fundamental incompleto')
INSERT [dbo].[Escolaridade] ([Id], [Nome]) VALUES (3, N'Fundamental completo')
SET IDENTITY_INSERT [dbo].[Escolaridade] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoCivil] ON 

INSERT [dbo].[EstadoCivil] ([Id], [Nome]) VALUES (1, N'Solteiro')
INSERT [dbo].[EstadoCivil] ([Id], [Nome]) VALUES (2, N'Casado')
INSERT [dbo].[EstadoCivil] ([Id], [Nome]) VALUES (3, N'Divorciado')
SET IDENTITY_INSERT [dbo].[EstadoCivil] OFF
GO
INSERT [dbo].[Evento] ([Id], [Nome], [DataInicio], [DataFim], [Unidade], [IdCidade], [DataCadastro], [IdUsuario], [IdArea], [IsAtivo], [Descricao]) VALUES (N'03fcaddc-c44d-4256-870f-04e36f379832', N'Clínica de Saúde Bucal: Itaituba', CAST(N'2024-01-03T00:00:00.000' AS DateTime), CAST(N'2024-01-31T20:36:00.000' AS DateTime), N'Sesc em Santarém', 4, CAST(N'2024-01-26T21:19:12.467' AS DateTime), 14, 1, 1, N'Procedimentos: exame, reexame, restauração, raspagem, profilaxia com flúor, exodontia, endodontia, Rx (periapical), fluoterapia.  Segunda a Sexta-feira: 09 às 20h; Sábado: 08 às 12h.')
INSERT [dbo].[Evento] ([Id], [Nome], [DataInicio], [DataFim], [Unidade], [IdCidade], [DataCadastro], [IdUsuario], [IdArea], [IsAtivo], [Descricao]) VALUES (N'5227c58f-a901-4af2-9281-b306cf369e2e', N' CarnaSesc: 1º Grito de Carnaval', CAST(N'2024-02-04T20:37:00.000' AS DateTime), CAST(N'2024-02-04T20:38:00.000' AS DateTime), N'Sesc em Ananindeua', 3, CAST(N'2024-01-26T21:20:09.447' AS DateTime), 14, 4, 1, N'Procedimentos: exame, reexame, restauração, raspagem, profilaxia com flúor, exodontia, endodontia, Rx (periapical), fluoterapia.  Segunda a Sexta-feira: 09 às 20h; Sábado: 08 às 12h.')
GO
SET IDENTITY_INSERT [dbo].[HstSolicitacao] ON 

INSERT [dbo].[HstSolicitacao] ([Id], [DataCadastro], [IdUsuario], [Observacao], [IsCliente], [IdSolicitacaoCadastroCliente]) VALUES (21, CAST(N'2024-02-05T21:07:36.750' AS DateTime), 14, N'Cliente enviou nova solicitação de cadastro.', 1, N'a70571b8-162f-444e-a94c-8a445a7ff840')
INSERT [dbo].[HstSolicitacao] ([Id], [DataCadastro], [IdUsuario], [Observacao], [IsCliente], [IdSolicitacaoCadastroCliente]) VALUES (23, CAST(N'2024-02-06T00:17:27.790' AS DateTime), 14, N'Cliente reenviou formulário para análise', 1, N'a70571b8-162f-444e-a94c-8a445a7ff840')
SET IDENTITY_INSERT [dbo].[HstSolicitacao] OFF
GO
SET IDENTITY_INSERT [dbo].[MensagemRapida] ON 

INSERT [dbo].[MensagemRapida] ([Id], [Descricao], [IdUsuario], [DataCadastro]) VALUES (1, N'Enviar novo documento de CPF', 14, CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[MensagemRapida] ([Id], [Descricao], [IdUsuario], [DataCadastro]) VALUES (2, N'Para concluir seu cadastro, por favor nos envie foto de rosto inteiro, boa iluminação e foco, preferencialmente com fundo neutro, maior resolução, sem acompanhantes, sem chapéu, sem óculos escuros, sem acessórios, filtros ou qualquer outro aspecto que dificulte a sua identificação.Qualquer dúvida, por favor contate nosso Call Center: (63) 3219-9100.Estamos à disposição. Att.', 14, CAST(N'2023-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MensagemRapida] OFF
GO
SET IDENTITY_INSERT [dbo].[Parentesco] ON 

INSERT [dbo].[Parentesco] ([Id], [Nome]) VALUES (1, N'Filho(a)')
INSERT [dbo].[Parentesco] ([Id], [Nome]) VALUES (2, N'Pai')
INSERT [dbo].[Parentesco] ([Id], [Nome]) VALUES (3, N'Mãe')
SET IDENTITY_INSERT [dbo].[Parentesco] OFF
GO
SET IDENTITY_INSERT [dbo].[PerfilUsuario] ON 

INSERT [dbo].[PerfilUsuario] ([Id], [Nome]) VALUES (1, N'Admin')
INSERT [dbo].[PerfilUsuario] ([Id], [Nome]) VALUES (2, N'Cliente')
INSERT [dbo].[PerfilUsuario] ([Id], [Nome]) VALUES (3, N'Colaborador')
SET IDENTITY_INSERT [dbo].[PerfilUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[psl_areasProcessoSeletivo] ON 

INSERT [dbo].[psl_areasProcessoSeletivo] ([Id], [IdArea], [IdProcessoSeletivo]) VALUES (1, 1, 2)
INSERT [dbo].[psl_areasProcessoSeletivo] ([Id], [IdArea], [IdProcessoSeletivo]) VALUES (8, 1, 7)
INSERT [dbo].[psl_areasProcessoSeletivo] ([Id], [IdArea], [IdProcessoSeletivo]) VALUES (9, 1, 8)
SET IDENTITY_INSERT [dbo].[psl_areasProcessoSeletivo] OFF
GO
SET IDENTITY_INSERT [dbo].[psl_cargoProcessoSeletivo] ON 

INSERT [dbo].[psl_cargoProcessoSeletivo] ([Id], [Nome], [VagasCurriculo], [IdProcessoSeletivo], [IdCidade], [HasDocFormacao], [HasDocExperiencia]) VALUES (1, N'Analista I', 30, 2, 3, 0, 1)
INSERT [dbo].[psl_cargoProcessoSeletivo] ([Id], [Nome], [VagasCurriculo], [IdProcessoSeletivo], [IdCidade], [HasDocFormacao], [HasDocExperiencia]) VALUES (5, N'Analista I', 20, 7, 3, 0, 1)
INSERT [dbo].[psl_cargoProcessoSeletivo] ([Id], [Nome], [VagasCurriculo], [IdProcessoSeletivo], [IdCidade], [HasDocFormacao], [HasDocExperiencia]) VALUES (6, N'Analista III', 30, 8, 3, 0, 1)
SET IDENTITY_INSERT [dbo].[psl_cargoProcessoSeletivo] OFF
GO
SET IDENTITY_INSERT [dbo].[psl_cidadesProcessoSeletivo] ON 

INSERT [dbo].[psl_cidadesProcessoSeletivo] ([Id], [IdCidade], [IdProcessoSeletivo]) VALUES (5, 3, 7)
INSERT [dbo].[psl_cidadesProcessoSeletivo] ([Id], [IdCidade], [IdProcessoSeletivo]) VALUES (6, 3, 8)
INSERT [dbo].[psl_cidadesProcessoSeletivo] ([Id], [IdCidade], [IdProcessoSeletivo]) VALUES (7, 4, 8)
SET IDENTITY_INSERT [dbo].[psl_cidadesProcessoSeletivo] OFF
GO
SET IDENTITY_INSERT [dbo].[psl_processoSeletivo] ON 

SET IDENTITY_INSERT [dbo].[psl_processoSeletivo] OFF
GO
SET IDENTITY_INSERT [dbo].[psl_statusProcessoSeletivo] ON 

INSERT [dbo].[psl_statusProcessoSeletivo] ([Id], [Descricao]) VALUES (1, N'Aberto')
INSERT [dbo].[psl_statusProcessoSeletivo] ([Id], [Descricao]) VALUES (2, N'Suspenso')
INSERT [dbo].[psl_statusProcessoSeletivo] ([Id], [Descricao]) VALUES (3, N'Análise Curricular')
SET IDENTITY_INSERT [dbo].[psl_statusProcessoSeletivo] OFF
GO
SET IDENTITY_INSERT [dbo].[psl_tipoProcessoSeletivo] ON 

INSERT [dbo].[psl_tipoProcessoSeletivo] ([Id], [Descricao]) VALUES (1, N'Seleção de Funcionário')
INSERT [dbo].[psl_tipoProcessoSeletivo] ([Id], [Descricao]) VALUES (2, N'Seleção de Estagiário')
INSERT [dbo].[psl_tipoProcessoSeletivo] ([Id], [Descricao]) VALUES (3, N'Cadastro de Reserva')
SET IDENTITY_INSERT [dbo].[psl_tipoProcessoSeletivo] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexo] ON 

INSERT [dbo].[Sexo] ([Id], [Nome]) VALUES (1, N'Masculino')
INSERT [dbo].[Sexo] ([Id], [Nome]) VALUES (2, N'Feminino')
INSERT [dbo].[Sexo] ([Id], [Nome]) VALUES (3, N'Não Informar')
SET IDENTITY_INSERT [dbo].[Sexo] OFF
GO
SET IDENTITY_INSERT [dbo].[SituacaoProfissional] ON 

INSERT [dbo].[SituacaoProfissional] ([Id], [Nome]) VALUES (1, N'Empregado')
INSERT [dbo].[SituacaoProfissional] ([Id], [Nome]) VALUES (2, N'Desempregado')
INSERT [dbo].[SituacaoProfissional] ([Id], [Nome]) VALUES (3, N'Prestador de serviço')
SET IDENTITY_INSERT [dbo].[SituacaoProfissional] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Nome], [IsAtivo]) VALUES (1, N'Pendente', 1)
INSERT [dbo].[Status] ([Id], [Nome], [IsAtivo]) VALUES (2, N'Enviado', 1)
INSERT [dbo].[Status] ([Id], [Nome], [IsAtivo]) VALUES (3, N'Em Análise', 1)
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDocumentoIdentificacao] ON 

INSERT [dbo].[TipoDocumentoIdentificacao] ([Id], [Nome]) VALUES (1, N'RG')
INSERT [dbo].[TipoDocumentoIdentificacao] ([Id], [Nome]) VALUES (2, N'CNH')
INSERT [dbo].[TipoDocumentoIdentificacao] ([Id], [Nome]) VALUES (3, N'Certidão de nascimento')
SET IDENTITY_INSERT [dbo].[TipoDocumentoIdentificacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Guid], [Cpf], [DataCadastro], [Token], [Username], [Senha], [Email], [IsAtivo], [RefreshToken], [IdPerfilUsuario], [Nome]) VALUES (14, N'7da09d79-5a24-4808-8809-1fcdaafa8d6e', N'01544199155', CAST(N'2024-01-20T12:01:33.080' AS DateTime), NULL, N'matheus', N'9b7dfd169527e131c99d397bac9efb620efa5685978064364f0270b53cb83d94', N'matheusetf@gmail.com', 1, NULL, 1, N'Matheus Jose Alves')
INSERT [dbo].[Usuario] ([Id], [Guid], [Cpf], [DataCadastro], [Token], [Username], [Senha], [Email], [IsAtivo], [RefreshToken], [IdPerfilUsuario], [Nome]) VALUES (16, N'e13745f2-8341-4ff3-ba0e-20e89c7c1981', N'04634422107', CAST(N'2024-01-20T00:00:00.000' AS DateTime), NULL, N'larissa', N'213211', N'larissa@gmail.com', 1, NULL, 1, N'Larissa Pires')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[psl_cargoProcessoSeletivo] ADD  DEFAULT ((0)) FOR [IdCidade]
GO
ALTER TABLE [dbo].[psl_processoSeletivo] ADD  CONSTRAINT [DF__ProcessoS__Cargo__3FD07829]  DEFAULT ('') FOR [Cargo]
GO
ALTER TABLE [dbo].[adm_acoesUsuarioModuloSistema]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AcoesUsuarioModuloSistema_dbo.AcaoSistema_IdAcaoSistema] FOREIGN KEY([IdAcaoSistema])
REFERENCES [dbo].[adm_acaoSistema] ([Id])
GO
ALTER TABLE [dbo].[adm_acoesUsuarioModuloSistema] CHECK CONSTRAINT [FK_dbo.AcoesUsuarioModuloSistema_dbo.AcaoSistema_IdAcaoSistema]
GO
ALTER TABLE [dbo].[adm_acoesUsuarioModuloSistema]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AcoesUsuarioModuloSistema_dbo.UsuarioModuloSistema_IdUsuarioModuloSistema] FOREIGN KEY([IdUsuarioModuloSistema])
REFERENCES [dbo].[adm_usuarioModuloSistema] ([Id])
GO
ALTER TABLE [dbo].[adm_acoesUsuarioModuloSistema] CHECK CONSTRAINT [FK_dbo.AcoesUsuarioModuloSistema_dbo.UsuarioModuloSistema_IdUsuarioModuloSistema]
GO
ALTER TABLE [dbo].[adm_usuarioModuloSistema]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioModuloSistema_dbo.Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[adm_usuarioModuloSistema] CHECK CONSTRAINT [FK_dbo.UsuarioModuloSistema_dbo.Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[agd_agendaAtividade]  WITH CHECK ADD  CONSTRAINT [FK_AgendaAtividade_TipoAgendamento] FOREIGN KEY([IdTipoAgendamento])
REFERENCES [dbo].[agd_tipoAgendamento] ([Id])
GO
ALTER TABLE [dbo].[agd_agendaAtividade] CHECK CONSTRAINT [FK_AgendaAtividade_TipoAgendamento]
GO
ALTER TABLE [dbo].[agd_agendaCliente]  WITH CHECK ADD  CONSTRAINT [FK_agd_agendaCliente_agd_agendaAtividade] FOREIGN KEY([IdAgendaAtividade])
REFERENCES [dbo].[agd_agendaAtividade] ([Id])
GO
ALTER TABLE [dbo].[agd_agendaCliente] CHECK CONSTRAINT [FK_agd_agendaCliente_agd_agendaAtividade]
GO
ALTER TABLE [dbo].[agd_horariosAgenda]  WITH CHECK ADD  CONSTRAINT [FK_agd_horariosAgenda_agd_agendaAtividade] FOREIGN KEY([idAgendamento])
REFERENCES [dbo].[agd_agendaAtividade] ([Id])
GO
ALTER TABLE [dbo].[agd_horariosAgenda] CHECK CONSTRAINT [FK_agd_horariosAgenda_agd_agendaAtividade]
GO
ALTER TABLE [dbo].[Area]  WITH CHECK ADD  CONSTRAINT [FK_Area_Arquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[Area] CHECK CONSTRAINT [FK_Area_Arquivo]
GO
ALTER TABLE [dbo].[ArquivoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_ArquivoCadastroCliente_Arquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[ArquivoCadastroCliente] CHECK CONSTRAINT [FK_ArquivoCadastroCliente_Arquivo]
GO
ALTER TABLE [dbo].[ArquivoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_ArquivoCadastroCliente_SolicitacaoCadastroCliente] FOREIGN KEY([IdSolicitacaoCadastroCliente])
REFERENCES [dbo].[SolicitacaoCadastroCliente] ([Guid])
GO
ALTER TABLE [dbo].[ArquivoCadastroCliente] CHECK CONSTRAINT [FK_ArquivoCadastroCliente_SolicitacaoCadastroCliente]
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_Banner_Arquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_Banner_Arquivo]
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_Banner_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_Banner_Usuario]
GO
ALTER TABLE [dbo].[BotaoDropdown]  WITH CHECK ADD  CONSTRAINT [FK_BotaoDropdown_BotaoSideMenu] FOREIGN KEY([IdBotaoSideMenu])
REFERENCES [dbo].[BotaoSideMenu] ([Id])
GO
ALTER TABLE [dbo].[BotaoDropdown] CHECK CONSTRAINT [FK_BotaoDropdown_BotaoSideMenu]
GO
ALTER TABLE [dbo].[BotaoPerfil]  WITH CHECK ADD  CONSTRAINT [FK_BotaoPerfil_BotaoSideMenu] FOREIGN KEY([IdBotaoSideMenu])
REFERENCES [dbo].[BotaoSideMenu] ([Id])
GO
ALTER TABLE [dbo].[BotaoPerfil] CHECK CONSTRAINT [FK_BotaoPerfil_BotaoSideMenu]
GO
ALTER TABLE [dbo].[BotaoPerfil]  WITH CHECK ADD  CONSTRAINT [FK_BotaoPerfil_PerfilUsuario] FOREIGN KEY([IdPerfilUsuario])
REFERENCES [dbo].[PerfilUsuario] ([Id])
GO
ALTER TABLE [dbo].[BotaoPerfil] CHECK CONSTRAINT [FK_BotaoPerfil_PerfilUsuario]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Area] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Area]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade] ([Id])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Cidade]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
ALTER TABLE [dbo].[HstSolicitacao]  WITH CHECK ADD  CONSTRAINT [FK_HstSolicitacao_SolicitacaoCadastroCliente] FOREIGN KEY([IdSolicitacaoCadastroCliente])
REFERENCES [dbo].[SolicitacaoCadastroCliente] ([Guid])
GO
ALTER TABLE [dbo].[HstSolicitacao] CHECK CONSTRAINT [FK_HstSolicitacao_SolicitacaoCadastroCliente]
GO
ALTER TABLE [dbo].[HstSolicitacao]  WITH CHECK ADD  CONSTRAINT [FK_HstSolicitacao_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[HstSolicitacao] CHECK CONSTRAINT [FK_HstSolicitacao_Usuario]
GO
ALTER TABLE [dbo].[MensagemRapida]  WITH CHECK ADD  CONSTRAINT [FK_MensagemRapida_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[MensagemRapida] CHECK CONSTRAINT [FK_MensagemRapida_Usuario]
GO
ALTER TABLE [dbo].[Noticia]  WITH CHECK ADD  CONSTRAINT [FK_Noticia_Area] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Noticia] CHECK CONSTRAINT [FK_Noticia_Area]
GO
ALTER TABLE [dbo].[Noticia]  WITH CHECK ADD  CONSTRAINT [FK_Noticia_Arquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[Noticia] CHECK CONSTRAINT [FK_Noticia_Arquivo]
GO
ALTER TABLE [dbo].[Noticia]  WITH CHECK ADD  CONSTRAINT [FK_Noticia_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade] ([Id])
GO
ALTER TABLE [dbo].[Noticia] CHECK CONSTRAINT [FK_Noticia_Cidade]
GO
ALTER TABLE [dbo].[Noticia]  WITH CHECK ADD  CONSTRAINT [FK_Noticia_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Noticia] CHECK CONSTRAINT [FK_Noticia_Usuario]
GO
ALTER TABLE [dbo].[Programacao]  WITH CHECK ADD  CONSTRAINT [FK_Programacao_Area] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Programacao] CHECK CONSTRAINT [FK_Programacao_Area]
GO
ALTER TABLE [dbo].[Programacao]  WITH CHECK ADD  CONSTRAINT [FK_Programacao_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Programacao] CHECK CONSTRAINT [FK_Programacao_Usuario]
GO
ALTER TABLE [dbo].[psl_areasProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AreasProcessoSeletivo_dbo.Area_IdArea] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[psl_areasProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.AreasProcessoSeletivo_dbo.Area_IdArea]
GO
ALTER TABLE [dbo].[psl_areasProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AreasProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo] FOREIGN KEY([IdProcessoSeletivo])
REFERENCES [dbo].[psl_processoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_areasProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.AreasProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_arquivosProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArquivosProcessoSeletivo_dbo.Arquivo_IdArquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[psl_arquivosProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.ArquivosProcessoSeletivo_dbo.Arquivo_IdArquivo]
GO
ALTER TABLE [dbo].[psl_arquivosProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArquivosProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo] FOREIGN KEY([IdProcessoSeletivo])
REFERENCES [dbo].[psl_processoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_arquivosProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.ArquivosProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_cargoProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CargoProcessoSeletivo_dbo.Cidade_IdCidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade] ([Id])
GO
ALTER TABLE [dbo].[psl_cargoProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CargoProcessoSeletivo_dbo.Cidade_IdCidade]
GO
ALTER TABLE [dbo].[psl_cargoProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CargoProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo] FOREIGN KEY([IdProcessoSeletivo])
REFERENCES [dbo].[psl_processoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_cargoProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CargoProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_cidadesProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CidadesProcessoSeletivo_dbo.Cidade_IdCidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade] ([Id])
GO
ALTER TABLE [dbo].[psl_cidadesProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CidadesProcessoSeletivo_dbo.Cidade_IdCidade]
GO
ALTER TABLE [dbo].[psl_cidadesProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CidadesProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo] FOREIGN KEY([IdProcessoSeletivo])
REFERENCES [dbo].[psl_processoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_cidadesProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CidadesProcessoSeletivo_dbo.ProcessoSeletivo_IdProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_curriculosProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CurriculosProcessoSeletivo_dbo.Arquivo_IdArquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[psl_curriculosProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CurriculosProcessoSeletivo_dbo.Arquivo_IdArquivo]
GO
ALTER TABLE [dbo].[psl_curriculosProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CurriculosProcessoSeletivo_dbo.psl_cargoProcessoSeletivo_IdCargoProcessoSeletivo] FOREIGN KEY([IdCargoProcessoSeletivo])
REFERENCES [dbo].[psl_cargoProcessoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_curriculosProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CurriculosProcessoSeletivo_dbo.psl_cargoProcessoSeletivo_IdCargoProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_curriculosProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CurriculosProcessoSeletivo_dbo.psl_processoSeletivo_IdProcessoSeletivo] FOREIGN KEY([ProcessoSeletivo_Id])
REFERENCES [dbo].[psl_processoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_curriculosProcessoSeletivo] CHECK CONSTRAINT [FK_dbo.CurriculosProcessoSeletivo_dbo.psl_processoSeletivo_IdProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_documentoProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoProcessoSeletivo_Arquivo] FOREIGN KEY([IdArquivo])
REFERENCES [dbo].[Arquivo] ([Id])
GO
ALTER TABLE [dbo].[psl_documentoProcessoSeletivo] CHECK CONSTRAINT [FK_DocumentoProcessoSeletivo_Arquivo]
GO
ALTER TABLE [dbo].[psl_documentoProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoProcessoSeletivo_CargoProcessoSeletivo] FOREIGN KEY([IdCargoProcessoSeletivo])
REFERENCES [dbo].[psl_cargoProcessoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_documentoProcessoSeletivo] CHECK CONSTRAINT [FK_DocumentoProcessoSeletivo_CargoProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_documentoProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoProcessoSeletivo_TipoDocumentoProcessoSeletivo] FOREIGN KEY([IdTipoDocumentoProcessoSeletivo])
REFERENCES [dbo].[psl_tipoDocumentoProcessoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_documentoProcessoSeletivo] CHECK CONSTRAINT [FK_DocumentoProcessoSeletivo_TipoDocumentoProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_observadoresProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_ObservadoresProcessoSeletivo_CargoProcessoSeletivo] FOREIGN KEY([IdCargoProcessoSeletivo])
REFERENCES [dbo].[psl_cargoProcessoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_observadoresProcessoSeletivo] CHECK CONSTRAINT [FK_ObservadoresProcessoSeletivo_CargoProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_observadoresProcessoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_ObservadoresProcessoSeletivo_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[psl_observadoresProcessoSeletivo] CHECK CONSTRAINT [FK_ObservadoresProcessoSeletivo_Usuario]
GO
ALTER TABLE [dbo].[psl_processoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.Area_IdArea] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[psl_processoSeletivo] CHECK CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.Area_IdArea]
GO
ALTER TABLE [dbo].[psl_processoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.StatusProcessoSeletivo_IdStatusProcessoSeletivo] FOREIGN KEY([IdStatusProcessoSeletivo])
REFERENCES [dbo].[psl_statusProcessoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_processoSeletivo] CHECK CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.StatusProcessoSeletivo_IdStatusProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_processoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.TipoProcessoSeletivo_IdTipoProcessoSeletivo] FOREIGN KEY([IdTipoProcessoSeletivo])
REFERENCES [dbo].[psl_tipoProcessoSeletivo] ([Id])
GO
ALTER TABLE [dbo].[psl_processoSeletivo] CHECK CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.TipoProcessoSeletivo_IdTipoProcessoSeletivo]
GO
ALTER TABLE [dbo].[psl_processoSeletivo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[psl_processoSeletivo] CHECK CONSTRAINT [FK_dbo.ProcessoSeletivo_dbo.Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_Escolaridade] FOREIGN KEY([IdEscolaridade])
REFERENCES [dbo].[Escolaridade] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_Escolaridade]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_EstadoCivil] FOREIGN KEY([IdEstadoCivil])
REFERENCES [dbo].[EstadoCivil] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_EstadoCivil]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_Parentesco] FOREIGN KEY([IdParentesco])
REFERENCES [dbo].[Parentesco] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_Parentesco]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_Sexo] FOREIGN KEY([IdSexo])
REFERENCES [dbo].[Sexo] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_Sexo]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_SituacaoProfissional] FOREIGN KEY([IdSituacaoProfissional])
REFERENCES [dbo].[SituacaoProfissional] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_SituacaoProfissional]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_Status]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_TipoDocumentoIdentificacao] FOREIGN KEY([IdTipoDocumentoIdentificacao])
REFERENCES [dbo].[TipoDocumentoIdentificacao] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_TipoDocumentoIdentificacao]
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoCadastroCliente_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[SolicitacaoCadastroCliente] CHECK CONSTRAINT [FK_SolicitacaoCadastroCliente_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_PerfilUsuario] FOREIGN KEY([IdPerfilUsuario])
REFERENCES [dbo].[PerfilUsuario] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_PerfilUsuario]
GO
USE [master]
GO
