
@{
    Layout = "_Empty" ;
}
<style>
    .child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="container">
    <div class="child">
        <img src="~/images/static/HomeIndex/logo/logo.png" alt="" width="150" class="pb-5">
        <h2>Ative seu usuário para continuar com o Login. Você será redirecionado após a ativação.</h2>
        <div class ="text-center">
            <form asp-action="Ativar" asp-controller="Usuario" method="post">
                <input hidden name="usuarioGuid" value="@ViewBag.Guid" />
                <input type="submit" value="ATIVAR" class="theme-btn theme-btn-big">
            </form>
        </div>
    </div>
</div>